<div id="blueprint">
 <div class="bottom_line" :style="{background:color_gradient(master_line_color)}"></div>
  <div id="blueprint_drag">
    <div v-for="(item, index) in blueprint" class="blueprint_list ui top left pointing dropdown icon" @drop="drop_blueprint($event,item.key)"  @click="exchange_blueprint(index,undefined,$event)" @dblclick="re_name(index,'blueprint',$event)" :data-key="item.key" >
      <a class="blueprint_a" :class="{check:index_blueprint==index}"> {{item.name}}
      </a>
      <input class="blueprint_input" type="text" v-model="item.name">
      <i class="blueprint_i dropdown icon"></i>
      <div class="menu">
          <div class="item" @click="re_name(index,'blueprint',$event)"><i class="edit icon"></i>重新命名</div>
           <div v-show="index_blueprint!=index" class="item" @click="exchange_blueprint(index,true,$event)"><i class="exchange icon"></i>切換</div>
          <div v-if="index_blueprint==index" class="item" @click="delete_blueprint(item.key)"><i class="delete icon"></i>移除</div>
<!--          <div class="item" @click="匯出藍圖(item.key)"><i class="external icon"></i>匯出(備份)</div>-->
          
      </div>
    </div>
  </div>
    <div id="blueprint_new" class="ui icon button" data-tooltip="新增一個地鐵計畫" data-inverted="" @click="new_blueprint()">
      <i class="add icon"></i>
    </div>
</div>
<div id="copyright">© 2017 資訊地鐵站 版權所有</div>
