  <div id="board1" :style="{borderTopColor:master_line_color}">
  <div id="board_line_parent">
    <div id="board_line">
      <i v-show="!is_master()" :style="{backgroundColor:line_color}"></i>
      <div v-if="is_master()" class="board_name master_big">{{ line_name }}</div>
      <div v-else class="board_name">{{ line_name }}</div>
    </div>
    <div id="board_edit" @click="mode_click()" ondragover="allowDrop(event)" ondrop="drop(event)"><div class="border_area" :data-tooltip="mode_txt()" data-position="right center"><i :class="mode_class()" class=" icon"></i></div></div>
  </div>
  
<!--
  <div id="board_txt">
    <span v-if="is_public">社交支線 </span>
    <a href="#" onclick="push_now_line()">推送支線</a>
  </div>
-->
  <div id="board_tag_name">
    <div id="tag_name" v-if="metro_name">
      <i :style="{backgroundColor:line_color}"></i>
      <div id="tag_name_info">
        <div>{{metro_name}}</div>
        <div>資訊共 {{info_count}} 筆</div>
        <div>建立時間：<span>{{metro_create}}</span></div>
      </div>
    </div>
  </div>
  <div id="board3" :style="{borderTopColor:master_line_color}">
    <div id="board3_header" :style="{color:line_color}"><i class="heart icon orange"></i><span class="text">最愛連結</span>
    </div>
    <div id="board_favorites">
      <div class="favorites_list" v-for="(item, index) in info_favorites">
        <a :href="item.url_info.url" :title="item.url_info.title" target="_blank"  v-once>
          <span><img :src="item.url_info.ico"  v-once></span>
          <span v-once>{{item.url_info.title}}</span>
        </a>
      </div>
    </div>
    <div id="board_search">
      <div class="ui mini action input" :style="{borderColor:line_color}">
        <input v-model.trim="filter_search" type="text" placeholder="Filter...">
          <button v-if="filter_search" class="ui mini icon button" :style="{backgroundColor:line_color}" >
            <i class="filter icon"></i>
          </button>
          <button v-else class="ui mini icon button" >
            <i class="filter icon"></i>
          </button>
      </div>
    </div>
  </div>
</div>
<div id="board2" :style="{borderTopColor:master_line_color}">
  <div id="board_enter_parent">
    <div id="board_img"><img v-if="users.photo" :src="user_photo"></div>
    <div id="board_enter">
      <textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
      <div v-if="url_info">{{url_info}}</div>
    </div>
  </div>
  <div id="board_send_parent">
    <div class="ui icon menu">
<!--
      <a class="item active">
        <i class="gamepad icon"></i>
      </a>
      <a class="item">
        <i class="video camera icon"></i>
      </a>
      <a class="item">
        <i class="video play icon"></i>
      </a>
-->
      <div class="right item">
        <div id="board_send" :style="{backgroundColor:line_color}" @click="new_info()" class="ui mini orange button">送出</div>
      </div>
    </div>
  </div>
  <div id="board_info">
<!--    <div v-if="info_loading" class="ui active centered inline loader" style="margin-top:35px;margin-bottom:35px;"></div>-->
<!--   https://semantic-ui.com/elements/label.html-->
    <div v-for="(item, index) in info_sort_filter" class="board_list ui vertical segment clear">
<!--
      <span class="ui left corner label">
        <i class="youtube play icon"></i>
      </span>
-->
      <div @dblclick="edit_info(item)">
        <img class="ui left floated image transition mini" :src="user_photo" v-once>
        <p class="content" v-html="$options.filters.message_filter(item.message)"></p>
        <p class="content textarea ui form" :style="{borderColor:line_color}">
          <textarea></textarea>
          <span class="textarea_prompt" >
            <span class="esc">Esc離開編輯</span>
            <button class="send mini ui button" :style="{backgroundColor:line_color}">送出</button>
            <button class="cancel mini ui button">取消</button>
          </span>
        </p>
        <span class="right_icon">
          <span :style="{color : line_color}"><i @click="favorite_info(item)" :class="{active : item.favorite }" class="like icon" :style="{color : line_color}"></i></span>
          <i @click="delete_info(item['.key'])" class="trash icon"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  function drop(ev){
    var index = ev.dataTransfer.getData("index");
	print(index);
    vm.delete_metro(index);
  }  
  function allowDrop(event) { //拖曳的物件移到上面
    print("拖曳的物件移到上面")
    event.preventDefault();
  }

  $(function(){
    //鍵盤按下去
    $("#board_textarea").keydown(function(e){

    })
    $("#board_textarea").keyup(function(e) {
      $(this).height(70);
      $(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));

    });
    
    
    $("#board_textarea").on('paste', function () {

       //store references for lateer use
        var domTextarea = this,
            txt = domTextarea.value,
            startPos = domTextarea.selectionStart,
            endPos = domTextarea.selectionEnd,
            scrollTop = domTextarea.scrollTop;

        domTextarea.value = '';

        setTimeout(function () {
            var pastedValue = domTextarea.value;

            domTextarea.value = txt.substring(0, startPos) + pastedValue + txt.substring(endPos, txt.length);
            domTextarea.focus();
            domTextarea.selectionStart = domTextarea.selectionEnd = startPos + pastedValue.length;
            domTextarea.scrollTop = scrollTop;

            //print(pastedValue)
            var urlify_url=urlify(pastedValue);
					
          if(urlify_url.indexOf("<a href=")>-1){
            var url=urlify_url.split("</a>")[0].split(">")[1];
            vm.url_info="等等...正在為您截取網站";
            parse_url(url,function(url_info){
              url_info.url=url;//這個url代表是連結的url
              vm.url_info=url_info;
            })
          }
 

        }, 0);

    });
    
  })
function urlify(text) {
	//http://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
}

  
</script>