<div id="board1">
  <div id="board_line_parent">
    <div id="board_line"><i :style="{backgroundColor:metro_color}"></i>
      <div class="board_name">{{ line_name }}</div>
    </div>
    <div id="board_edit" @click="mode_click()" ondragover="allowDrop(event)" ondrop="drop(event)"><div class="border_area" :data-tooltip="mode_txt()" data-position="right center"><i :class="mode_class()" class=" icon"></i></div></div>
  </div>
<!--
  <div id="board_txt">
    文字介紹
  </div>
-->
  <div id="board_tag_name">
    <div id="tag_name">
      <i :style="{backgroundColor:metro_color}"></i>
      <div id="tag_name_info">
        <div>{{ metro_name }}</div>
        <div>資訊共 {{info_count}} 筆</div>
        <div>建立時間：<span>{{metro_create}}</span></div>
      </div>
    </div>
  </div>
  <div id="board3">
    <div id="board3_header"><i class="heart orange icon"></i><span class="text">最愛連結</span>
    </div>
    <div id="board_favorites">
      <div v-for="n in 20"></div>
    </div>
    <div id="board_search">
      <div id="input_search">
        <input type="text" placeholder="Search">
        <i class="search icon"></i>
      </div>
    </div>
    <div id="board_copyright"></div>
  </div>
</div>
<div id="board2">
  <div id="board_enter_parent">
    <div id="board_img"><img :src="users.photo"></div>
    <div id="board_enter">
      <textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
    </div>
  </div>
  <div id="board_send_parent">
    <div class="ui icon menu">
<!--
      <a class="item active">
        <i class="gamepad icon"></i>
      </a>
      <a class="item">
        <i class="video camera icon"></i>
      </a>
      <a class="item">
        <i class="video play icon"></i>
      </a>
-->
      <div class="right item">
        <div id="board_send" @click="new_info()" class="ui mini orange button">送出</div>
      </div>
    </div>
  </div>
  <div id="board_info" >
<!--    <div class="ui active centered inline loader" style="margin-top:35px;margin-bottom:35px;"></div>-->
    <div v-for="(item, index) in info" class="ui vertical segment clear">
      <img class="ui medium left floated image transition " src="src/static/images/square-image.png">
      <p class="content" v-html="message_filter(item.message)"></p>
      <span class="right_icon">
        <i @click="favorite_info(item)" :class="{active : item.favorite }" class="like icon"></i>
        <i @click="delete_info(item['.key'])" class="trash icon"></i>
      </span>
    </div>
  </div>
</div>

<script>

  function drop(ev){
    var index = ev.dataTransfer.getData("index");
		print(index);
    vm.delete_metro(index);
  }  
  function allowDrop(event) { //拖曳的物件移到上面
    event.preventDefault();
  }

  $(function(){
    //鍵盤按下去
    $("#board_textarea").keydown(function(e){

    })
    $("#board_textarea").keyup(function(e) {
      $(this).height(70);
      $(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));

    });
    
    
    $("#board_textarea").on('paste', function () {

       //store references for lateer use
        var domTextarea = this,
            txt = domTextarea.value,
            startPos = domTextarea.selectionStart,
            endPos = domTextarea.selectionEnd,
            scrollTop = domTextarea.scrollTop;

        //clear textarea temporarily (user wont notice)
        domTextarea.value = '';

        setTimeout(function () {
            //get pasted value
            var pastedValue = domTextarea.value;

            //do work on pastedValue here, if you need to change/validate it before applying the paste

            //recreate textarea as it would be if we hadn't interupted the paste operation
            domTextarea.value = txt.substring(0, startPos) + pastedValue + txt.substring(endPos, txt.length);
            domTextarea.focus();
            domTextarea.selectionStart = domTextarea.selectionEnd = startPos + pastedValue.length;
            domTextarea.scrollTop = scrollTop;
print(pastedValue)
            //do work on pastedValue here if you simply need to parse its ccontents without modifying it


        }, 0);

    });
    
  })

  
</script>