<div id="board1">
  <div id="board_line_parent">
    <div id="board_line"><i style="background-color:#30CB68"></i>
      <div>淡水線</div>
    </div>
    <div id="board_edit"><i class="male icon"></i></div>
  </div>
  <div id="board_tag_name">
    <div id="tag_name">
      <i style="background-color:#30CB68;"></i>
      <div id="tag_name_info">
        <div>社會學</div>
        <div>資訊共25筆</div>
        <div>建立時間：<span>2015/03/29</span></div>
      </div>
    </div>
  </div>
  <div id="board3">
    <div id="board3_header"><i class="heart orange icon"></i><span class="text">最愛連結</span>
    </div>
    <div id="board_favorites">
      <div v-for="n in 20"></div>
    </div>
    <div id="board_search">
      <div id="input_search">
        <input type="text" placeholder="Search">
        <i class="search icon"></i>
      </div>
    </div>
    <div id="board_copyright"></div>
  </div>
</div>
<div id="board2">
  <div id="board_enter_parent">
    <div id="board_img"><img src="src/static/images/img1.jpg"></div>
    <div id="board_enter">
      <textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
    </div>
  </div>
  <div id="board_send_parent">
    <div id="board_tag_select">
    </div>
    <button id="board_send" class="ui mini orange button" type="submit">送出</button>
  </div>
  <div id="board_info">
    <div v-for="(item, index) in info" class="ui vertical segment clear">
      <img class="ui medium left floated image transition " src="src/static/images/square-image.png">
      <p>看見我的靈魂裡那洗拭不去的黑色污點</p>
      <span class="left">
        <i class="like icon"></i>
        <i class="trash icon"></i>
      </span>
    </div>
  </div>
</div>