	<!--資訊輸入-->
	<div id="board_enter_parent">
		<div id="board_img"><img v-if="users.photo" :src="users.photo"></div>
		<div id="board_enter">
		  <i style="display:none;" class="idea icon"></i>
		  <i style="display:none;" class="world loading icon"></i> 
		  <textarea id="board_textarea" placeholder="輸入資訊"></textarea>
		</div>
		<!--包成vue組件1 輸入-->
		<div id="url_info_board" v-if="url_info" :class="get_img_embed_url()" class="ui items" style="background-color: whitesmoke;width: 95%; margin: .5em 0;">
			<div class="item">
				<div v-if="url_info.image" class="ui small image url_img_parent" style="padding-left: 9px; padding-top: 9px; padding-bottom:9px;">
				  <img class="url_img">
				  <i v-if="url_info.youtube" class="video_icon video play icon"></i>
				</div>
				<div class="content" style=" position: relative;padding-left: 1em;padding-right: 1.6em; padding-bottom: 8px;word-break: break-all;">
					<a :href="url_info.url" target="_blank" class="header" style="margin-top: 6px;color: #676868; font-size: 1.1em;">{{url_info.title}}</a>
					<div class="meta"><span>{{url_info.url_parent}}</span></div>
					<!-- v-html有風險要改掉，推社交前要拿掉 -->
					<div v-if="url_info.description" class="multiple-ellipsis" >
					  <span class="multiple-ellipsis-text" v-html="url_info.description"></span>
					</div>
					<div>
						<a class="ui right corner label" @click="vm.url_info=''" style="border-color: transparent" >
							<i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--包成vue組件1 輸入-->
		<transition name="fade">
  		<i v-show="is_nav" style="position: absolute; right:0%; top:6px;z-index:55" class="nav_i ui orange help circle icon" data-title="新增資訊" data-content="在任何一個地鐵站點底下，你可以在這裡新增資訊。貼上網址後，會為您擷取網站的文字資料，請稍待片刻。"></i>
    </transition>

	</div>
	<!--資訊輸入-->
	
	<!--資訊送出-->
	<div id="board_send_parent">
      <div class="ui icon menu">
          <div id="progress" class="ui bottom attached progress" style="position: absolute;width:100%; border-radius : 0;!important">
            <div class="bar" style="min-width: 0%;" :style="{background:line_color}"></div>
          </div>
          <div class="item" :style="{color:line_color}">
            <div id="uploadFileParent" class="ui action input" data-inverted="" data-tooltip="上傳檔案-拖曳或點擊" :style="{borderColor:line_color}">
              <input id="uploadFileInput" type="file">
              <div id="uploadButton" class="ui icon">
                <i class="attach icon"></i>
              </div>
            </div>
            <div id="uploadName"></div>
          </div>
          <div class="right item">
              <div id="board_send" :style="{backgroundColor:line_color}" onclick="vm.new_info()" class="ui mini orange button">送出</div>
          </div>
      </div>
	</div>
	<!--資訊送出-->
	
	<!--資訊列表-->
	<div id="board_info">
    <transition name="fade">
		  <i v-show="is_nav && info.length" style="position: absolute; right:-5.5%; top:14px;z-index:55" class="nav_i ui orange help circle icon" data-title="資訊列表" data-content="infometro 資訊牆，在編輯模式下，您可以對資訊快速按兩下修改資訊，你也可以透過快速鍵ctrl+x、ctrl+c、ctrl+v ，將資訊移動到別的地方去 。"></i>
    </transition>
		<div :id="item['.key']" v-for="(item, index) in info_sort_filter" :key="item['.key']"  @click="info_active=item['.key']" class="board_list ui vertical segment clear">
			<div class="board_message">
			  <div :style="{color : line_color}" class="active_left" v-show="info_active==item['.key']"></div>
				<img v-if="users.photo" class="ui image transition mini photo" :src="users.photo">
				<div :class="{mh_35 : item.url_info }" class="info_message" @dblclick="edit_info(item,'dbl',$event)">
					<p v-if="img_file(item.file_name)">
						<a :href="item.file_url" target="_blank"><img style="width:100%;" :src="item.file_url" ></a>
					</p>
					<p class="content" v-html="$options.filters.message_filter(item.message)"></p>
					<p class="content textarea ui form" :style="{borderColor:line_color}">
						<textarea></textarea>
						<span class="textarea_prompt">
							<span class="esc">
								<!--	<i class="ui attach icon" ></i>-->
								<i class="ui info circle icon" ></i>
								<span>按Esc離開編輯</span>
							</span>
							<button class="send mini ui button" style="color:#ffffff; padding: .6em 1.2em;font-size: .8rem;" :style="{backgroundColor:line_color}">送出</button>
							<button style="padding: .6em 1.2em;font-size: .8rem;" class="cancel mini ui button">取消</button>
						</span>
					</p>
				</div>
				<span class="right_icon">
					<span :style="{color : line_color}"><i @click="favorite_info(item)" :class="{active : item.favorite }" class="like icon" :style="{color : line_color}"></i></span>
					<span class="ui top right pointing dropdown">
						<i class="setting icon"></i>
						<div class="menu">
							<div @click="edit_info(item,undefined,$event)" class="item"><i class="write icon"></i>編輯</div>
							<div @click="delete_info(item['.key'],$event)"  class="item _info_delete"><i class="trash icon"></i>刪除</div>
							<a v-if="item.url_info" target="_black" :href="'https://www.facebook.com/sharer/sharer.php?u='+item.url_info.url" class="item" style="text-decoration: none;"><i class="facebook square icon"></i>分享</a>
						</div>
					</span>
					<a v-if="item.file_id" :href="item.file_url" target="_blank" style="position: absolute; top:24px; right: 0px;">
					  <span class="ui pointing" data-position="left center" data-inverted="" :data-tooltip="item.file_name">
						 <i class="attach icon"></i>
					  </span>
					</a>
				</span>

				<!--包成vue組件2 顯示-->
				<div v-if="item.url_info" class="ui items item_url_info" :class="get_img_embed(item)" style="background-color: whitesmoke;width: 98%;padding: 0; display:inline-block; margin:0;border: 1px solid #cdcdcd;border-radius: 3px;">
					<div class="item">
						<div v-if="item.url_info && item.url_info.youtube" class="ui embed" data-source="youtube" :data-id="item.url_info.youtube"></div>
						<div v-else-if="item.url_info.image" class="url_img_parent ui small image" >
							<img class="url_img">
<!--							<i class="video play outline icon" style="position: absolute;top: 1em;left: 1em;font-size: 4em; color:rgb(247, 247, 247);"></i>-->
						</div>
						<div class="content" style=" position: relative;padding-left: 1em;padding-right: 1.6em; padding-bottom: 8px;">
							<a :href="item.url_info.url" target="_blank" class="header" style="margin-top: 8px; font-size: 1.1em;color: #676868;">{{item.url_info.title}}</a>
							<div class="meta"><span>{{item.url_info.url_parent}}</span></div>
							<!-- v-html有風險要改掉，推社交前要拿掉 -->
							<div v-if="item.url_info.description" class="multiple-ellipsis">
								<span class="multiple-ellipsis-text" v-html="item.url_info.description"></span>
							</div>
							<div class="url_remove">
								<a class="ui right corner label" @click="item.url_info=''" style="border-color: transparent" >
									<i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--包成vue組件2 顯示-->
			</div>
		</div>
	</div>
	<!--資訊列表-->