	<!--資訊輸入-->
	<div id="board_enter_parent">
		<div id="board_img"><img v-if="users.photo" :src="users.photo"></div>
		<div id="board_enter">
		  <i style="display:none;" class="idea icon"></i>
		  <i style="display:none;" class="world loading icon"></i> 
		  <textarea id="board_textarea" placeholder="輸入資訊"></textarea>
		</div>
		<!--包成vue組件1 輸入-->
		<div v-if="url_info" class="ui items" style="background-color: whitesmoke;width: 95%; margin: .5em 0;">
			<div class="item">
				<div v-if="url_info.image" class="ui small image" style="padding-left: 9px; padding-top: 9px;"><img :src="url_info.image"></div>
				<div class="content" style=" position: relative;padding-left: 1em;padding-right: 1.6em; padding-bottom: 8px;">
					<a :href="url_info.url" target="_blank" class="header" style="margin-top: 6px;color: #676868; font-size: 1.1em;">{{url_info.title}}</a>
					<div class="meta"><span>{{url_info.url_parent}}</span></div>
					<!-- v-html有風險要改掉，推社交前要拿掉 -->
					<div v-if="url_info.description" class="extra" v-html="url_info.description"></div>
					<div>
						<a class="ui right corner label" @click="vm.url_info=''" style="border-color: transparent" >
							<i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--包成vue組件1 輸入-->
		<transition name="fade">
  		<i v-show="is_nav" style="position: absolute; right:0%; top:6px;z-index:55" class="nav_i ui orange help circle icon" data-title="新增資訊" data-content="在任何一個地鐵站點底下，你可以在這裡新增資訊。貼上網址後，會為您擷取網站的文字資料，請稍待片刻。"></i>
    </transition>

	</div>
	<!--資訊輸入-->
	
	<!--資訊送出-->
	<div id="board_send_parent">
      <div class="ui icon menu">
          <div id="progress" class="ui bottom attached progress" style="position: absolute;width:100%; border-radius : 0;!important">
            <div class="bar" style="min-width: 0%;" :style="{background:line_color}"></div>
          </div>
          <div class="item" :style="{color:line_color}">
            <div id="uploadFileParent" class="ui action input" data-inverted="" data-tooltip="上傳檔案-拖曳或點擊" :style="{borderColor:line_color}">
              <input id="uploadFileInput" type="file">
              <div id="uploadButton" class="ui icon">
                <i class="attach icon"></i>
              </div>
            </div>
            <div id="uploadName"></div>
          </div>
          <div class="right item">
              <div id="board_send" :style="{backgroundColor:line_color}" onclick="vm.new_info()" class="ui mini orange button">送出</div>
          </div>
      </div>
	</div>
	
	<script>
      $(function(){
      var obj = $("#board_enter_parent,#board_send_parent");
      obj.on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
        
          //$(this).css('border', '2px solid #0B85A1');
      });
      obj.on('dragover', function (e) 
      {
        $("#board_send_parent>.ui.icon").css("background-color","#f7f7f7")
           e.stopPropagation();
           e.preventDefault();
      });
        
      obj.on('dragleave', function (e) 
      {
          $("#board_send_parent>.ui.icon").css("background-color","");
        e.stopPropagation();
        e.preventDefault();
      });
        
      obj.on('drop', function (e) 
      {

           //$(this).css('border', '2px dotted #0B85A1');
           e.preventDefault();
           var files = e.originalEvent.dataTransfer.files;
           upload_file(files[0])
           //We need to send dropped files to Server
          // handleFileUpload(files,obj);
      });
       })
      function clear_uploadFile(){
        $("#progress .bar").css("min-width" ,"0%" );
        $("#uploadFileParent").parent().css("background-color","");
        $("#uploadFileParent").data({
              file_id : "",
              file_url : "",
              file_name : ""
            });
        $('#uploadFileInput').val("");
        $("#uploadName").html("");
        $('#uploadFileParent').attr("data-tooltip","上傳檔案")
      }
      function upload_file(file){
        var name = file.name;
        //var ext= name.split(".")[1];//可以在這邊檢查不合適的副檔名

        var newfile = DB.ref("file/"+ vm.get_line_key() +"/"+ vm.get_metro()._key).push();
        newfile.set({
          name : name,
          timestamp: firebase.database.ServerValue.TIMESTAMP
        })
        //https://firebase.google.com/docs/storage/web/upload-files
        var storageRef = firebase.storage().ref();
        var uploadTask = storageRef.child("file/"+vm.get_line_key()+"/"+vm.get_metro()._key+"/"+newfile.key+"/"+name).put(file);
        clear_uploadFile();
        uploadTask.on('state_changed', function(snapshot){
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          $("#progress .bar").css("min-width" ,progress + "%" );
          //console.log('Upload is ' + progress + '% done');
        },function(error) {
          // Handle unsuccessful uploads
        }, function() {
          $("#uploadFileParent").parent().css("background-color","currentColor");
          $("#progress .bar").css("min-width" ,"0%" );
          $('#uploadFileInput').val("");
          $('#uploadFileParent').attr("data-tooltip","重新上傳");
          $("#uploadName").html("<span style='color:#ffffff;margin-left:5px;white-space: nowrap;'>"+name+"</span><i class='delete icon' style='position: relative;left:5px;cursor:pointer;color:#ffffff' onclick='clear_uploadFile()'></i>");
          var downloadURL = uploadTask.snapshot.downloadURL;
          $('#uploadFileInput').val("");
          $("#uploadFileParent").data({
            file_id : newfile.key,
            file_url : downloadURL,
            file_name : name
          });
          var board_textarea=$.trim($("#board_textarea").val());
          if(board_textarea==""){
            $("#board_textarea").val($("#board_textarea").val()+name);
          }else{
            $("#board_textarea").val($("#board_textarea").val()+"\n"+name);
          }
        })
      }
      $(function(){
        //https://firebase.google.com/docs/storage/web/upload-files
        $("#uploadButton").click(function() {
          $("#uploadFileInput").click();
        });
        $('#uploadFileInput').on('change', function(e) {
            if(e.target.files.length>0){
              var file = e.target.files[0];
              upload_file(file);
            }
        });
      })
	</script>
	
	<!--資訊送出-->
	
	<!--資訊列表-->
	<div id="board_info">
    <transition name="fade">
	  <i v-show="is_nav && info.length" style="position: absolute; right:-5.5%; top:14px;z-index:55" class="nav_i ui orange help circle icon" data-title="資訊列表" data-content="infometro顯示資訊的地方，在編輯模式下，您可以對資訊快速按兩下，以修改資訊。"></i>
      </transition>
		<div :id="item['.key']" v-for="(item, index) in info_sort_filter" :key="item['.key']"  @click="info_active=item['.key']" class="board_list ui vertical segment  clear">
			<div class="board_message">
			    <div :style="{color : line_color}" class="active_left" v-show="info_active==item['.key']"></div>
				<img v-if="users.photo" class="ui left floated image transition mini" :src="users.photo">
				<div class="info_message" @dblclick="edit_info(item,'dbl',$event)">
					<p v-if="img_file(item.file_name)">
						<a :href="item.file_url" target="_blank"><img style="width:100%;" :src="item.file_url" ></a>
					</p>
					<p class="content" v-html="$options.filters.message_filter(item.message)"></p>
					<p class="content textarea ui form" :style="{borderColor:line_color}">
						<textarea></textarea>
						<span class="textarea_prompt">
                          <span class="esc">
                          <i class="ui info circle icon" ></i>按Esc離開編輯
                          </span>
                          <button class="send mini ui button" style="color:#ffffff" :style="{backgroundColor:line_color}">送出</button>
                          <button class="cancel mini ui button">取消</button>
						</span>
					</p>
				</div>
				<span class="right_icon">
					<span :style="{color : line_color}"><i @click="favorite_info(item)" :class="{active : item.favorite }" class="like icon" :style="{color : line_color}"></i></span>
					<span class="ui top right pointing dropdown">
						<i class="setting icon"></i>
						<div class="menu">
							<div @click="edit_info(item,undefined,$event)" class="item"><i class="write icon"></i>編輯</div>
							<div @click="delete_info(item['.key'],$event)"  class="item"><i class="trash icon"></i>刪除</div>
							<a v-if="item.url_info" target="_black" :href="'https://www.facebook.com/sharer/sharer.php?u='+item.url_info.url" class="item" style="text-decoration: none;"><i class="facebook square icon"></i>分享</a>
						</div>
					</span>
					<a v-if="item.file_id" :href="item.file_url" target="_blank" style="    position: absolute; bottom: 5px;right: 9px;">
						<span class="ui pointing" data-inverted="" :data-tooltip="item.file_name">
							<i class="attach icon"></i>
					  </span>
					</a>
				</span>

				<!--包成vue組件2 顯示-->
				<div v-if="item.url_info" class="ui items" :class="get_youtube_embed(item)" style="background-color: whitesmoke;width: 98%;padding: 0; display:inline-block; margin:0;border: 1px solid #cdcdcd;border-radius: 4px;">
					<div class="item">
						<div v-if="item.url_info && item.url_info.youtube" class="ui embed" data-source="youtube" :data-id="item.url_info.youtube"></div>
						<div v-else-if="item.url_info.image" class="ui small image" style="padding-left: 9px; padding-top: 9px;padding-bottom: 9px;">
							<img :src="item.url_info.image">
<!--							<i class="video play outline icon" style="position: absolute;top: 1em;left: 1em;font-size: 4em; color:rgb(247, 247, 247);"></i>-->
						</div>
						<div class="content" style=" position: relative;padding-left: 1em;padding-right: 1.6em; padding-bottom: 8px;">
								<a :href="item.url_info.url" target="_blank" class="header" style="margin-top: 6px; font-size: 1.1em;color: #676868;">{{item.url_info.title}}</a>
								<div class="meta"><span>{{item.url_info.url_parent}}</span></div>
								<!-- v-html有風險要改掉，推社交前要拿掉 -->
								<div v-if="item.url_info.description" class="extra" v-html="item.url_info.description"></div>
								<div class="url_remove">
										<a class="ui right corner label" @click="item.url_info=''" style="border-color: transparent" >
												<i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
										</a>
								</div>
						</div>
					</div>
				</div>
				<!--包成vue組件2 顯示-->
			</div>
		</div>
	</div>
	<!--資訊列表-->
