<div id="board2" :style="{borderTopColor:master_line_color}">
	<!--資訊輸入-->
	<div id="board_enter_parent">
		<div id="board_img"><img v-if="users.photo" :src="users.photo"></div>
		<div id="board_enter">
			<textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
		</div>
		<!--包成vue組件1 輸入-->
		<div v-if="url_info" class="ui items" style="background-color: whitesmoke;width: 95%; margin: .5em 0;">
			<div class="item">
				<div v-if="url_info.image" class="ui small image" style="padding-left: 9px; padding-top: 9px;"><img :src="url_info.image"></div>
				<div class="content" style=" position: relative;padding-left: 1em;padding-right: 1em; padding-bottom: 8px;">
					<a :href="url_info.url" target="_blank" class="header" style="margin-top: 6px;color: #676868; border-color: rgb(245, 245, 245);width: 240px;font-size: 1.1em;">{{url_info.title}}</a>
					<div class="meta"><span>{{url_info.url_parent}}</span></div>
					<!-- v-html有風險要改掉 -->
					<div v-if="url_info.description" class="extra" v-html="url_info.description"></div>
					<div>
						<a class="ui right corner label" @click="vm.url_info=''" style="border-color: rgb(245, 245, 245)" >
							<i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--包成vue組件1 輸入-->
	</div>
	<!--資訊輸入-->
	
	<!--資訊送出-->
	<div id="board_send_parent">
		<div class="ui icon menu">
			<div class="right item">
				<div id="board_send" :style="{backgroundColor:line_color}" @click="new_info()" class="ui mini orange button">送出</div>
			</div>
		</div>
	</div>
	<!--資訊送出-->
	
	<!--資訊列表-->
	<div id="board_info">
		<div v-for="(item, index) in info_sort_filter" :key="item._key" class="board_list ui vertical segment clear">
			<div class="board_message">
				<img v-if="users.photo" class="ui left floated image transition mini" :src="users.photo">
				<div class="info_message" @dblclick="edit_info(item)">
					<p class="content" v-html="$options.filters.message_filter(item.message)"></p>
					<p class="content textarea ui form" :style="{borderColor:line_color}">
						<textarea></textarea>
						<span class="textarea_prompt" >
							<span class="esc">Esc離開編輯</span>
							<button class="send mini ui button" :style="{backgroundColor:line_color}">送出</button>
							<button class="cancel mini ui button">取消</button>
						</span>
					</p>
				</div>
				<span class="right_icon">
					<span :style="{color : line_color}"><i @click="favorite_info(item)" :class="{active : item.favorite }" class="like icon" :style="{color : line_color}"></i></span>
					<i @click="delete_info(item['.key'])" class="trash icon"></i>
				</span>

				<!--包成vue組件2 顯示-->
				<div v-if="item.url_info" class="ui items" style="background-color: whitesmoke;width: 98%;padding: 0; display:inline-block; margin: .7em 0;border: 1px solid #cdcdcd;border-radius: 4px;">
					<div class="item">
                      <div v-if="item.url_info.image" class="ui small image" style="padding-left: 9px; padding-top: 9px;"><img :src="item.url_info.image"></div>
                      <div class="content" style=" position: relative;padding-left: 1em;padding-right: 1em; padding-bottom: 8px;">
                          <a :href="item.url_info.url" target="_blank" class="header" style="margin-top: 6px; width: 240px;font-size: 1.1em;color: #676868;">{{item.url_info.title}}</a>
                          <div class="meta"><span>{{item.url_info.url_parent}}</span></div>
                          <!-- v-html有風險要改掉 -->
                          <div v-if="item.url_info.description" class="extra" v-html="item.url_info.description"></div>
                          <div class="url_remove">
                              <a class="ui right corner label" @click="item.url_info=''" style="border-color: rgb(245, 245, 245)" >
                                  <i class="remove icon" style="color: rgb(1, 1, 1);cursor: pointer;"></i>
                              </a>
                          </div>
                      </div>
					</div>
				</div>
				<!--包成vue組件2 顯示-->
			</div>
            <div class="_delete_info ui inverted dimmer">
              <div class="content">
                <div class="center">
                  <i class="trash outline icon" style="font-size: 1.8em;margin-bottom: 13px;color:#000;cursor: default"></i>
                  <div style="margin-bottom:20px;color:#000;">確定要刪除資料？</div>
                  <button class="send mini ui button" :style="{backgroundColor:line_color}">刪除</button>
                  <button class="cancel mini ui button">取消</button>
                </div>
              </div>
            </div>
			
<!--
			<div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="/images/image-16by9.png">
</div>
-->
			
			
			
		</div>
	</div>
	<!--資訊列表-->
</div>
  
<script>
$(function(){
	$("#board_textarea").keydown(function(e){

	})
	$("#board_textarea").keyup(function(e) {
		$(this).height(70);
		$(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));

	});

	$("#board_textarea").on('paste', textarea_paste);
})
	

</script>