<div id="board1" :style="{borderTopColor:master_line_color}">
  <div id="board_line_parent">
    <div id="board_line">
      <i v-show="!is_master()" :style="{backgroundColor:line_color}"></i>
      <div v-if="is_master()" class="board_name master_big">{{ line_name }}</div>
      <div v-else class="board_name">{{ line_name }}</div>
    </div>
    <div id="board_edit" @click="mode_click()" @dragover="allowDrop($event)" @drop="drop($event)"><div class="border_area" :data-tooltip="mode_txt()" data-position="right center"><i :class="mode_class()" class=" icon"></i></div></div>
    <transition name="fade">
        <i v-show="is_nav" style="position: absolute; bottom:8px; right:3px;" class="nav_i ui orange help circle icon" data-title="操作模式" data-content="操作模式目前有一般模式及編輯模式，在編輯模式，你可以將站點作脫亦更換的動作"></i>
    </transition>

  </div>
  <div id="board_tag_name">
    <div id="tag_name" v-if="metro_name">
      <i :style="{backgroundColor:line_color}"></i>
      <div id="tag_name_info">
        <div>{{metro_name}}</div>
        <div>資訊共 {{info_count}} 筆</div>
        <div>建立時間：<span>{{metro_create}}</span></div>
      </div>
    </div>
  </div>
  <div id="board3" style="color:#FF6900" :style="{borderTopColor:master_line_color}">
    <div id="board3_header" :style="{color:line_color}"><i class="heart icon"></i><span class="text">最愛連結</span>
    </div>
    <div id="board_favorites">
      <div class="favorites_list" v-for="(item, index) in info_favorites">
        <a :href="item.url_info.url" :title="item.url_info.title" target="_blank"  v-once>
          <span><img :src="item.url_info.ico"  v-once></span>
          <span v-once>{{item.url_info.title}}</span>
        </a>
      </div>
    </div>
    <div id="board_search">
      <div class="ui mini action input" :style="{borderColor:line_color}">
        <input v-model.trim="filter_search" type="text" placeholder="Filter...">
        <button v-if="filter_search" class="ui mini icon button" :style="{backgroundColor:line_color}" >
          <i class="filter icon"></i>
        </button>
        <button v-else class="ui mini icon button" >
          <i class="filter icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function drop(event){
	var key = event.dataTransfer.getData("key");
    if(key)vm.delete_metro(key);
    var line_index=event.dataTransfer.getData("line_index");
    if(line_index)vm.delete_line(line_index);
    
  }
  function allowDrop(event) { //拖曳的物件移到上面
    //print("拖曳的物件移到上面")
    event.preventDefault();
  }
</script>