<div id="line_parent">
	<div id="logo"><a href="/"><img class="logo" src="src/static/images/logo_200.png"></a></div>
	<div id="left_line">
  <div class="line_text ">
    <span>主線：</span>
    <transition name="fade">
      <i v-show="is_nav" style="float:right; position: relative; top:2px; margin-right:5px;" class="nav_i ui orange help circle icon" data-title="主線" data-content="主線在一個地鐵計畫裡只能擁有一條，它能夠串連支線，組織支線網路。"></i>
    </transition>
  </div>
    <ul id="line_drag_master">
      <li v-for="(item, index) in line" v-if="item.master" :class="{check:index_line==index}" class="line_list" @drop="drop_line($event,index)">
       <input class="line_input" type="text" v-model="item.name">
         <i class="line_i" :style="{backgroundColor:item.color}" @click="exchange_line(index)" @dblclick="open_color(index,item.color,'master')" ></i>
         <a class="line_a" @dblclick="re_name(index,'line',$event)"  @click="exchange_line(index)">{{item.name}}</a>
      </li>
    </ul>
	<div class="line_text">
       <span>一般支線：</span>
       <transition name="fade">
       <i v-show="is_nav" style="float:right; position: relative; top:2px; margin-right:5px;" class="nav_i ui orange help circle icon" data-title="主線" data-content="主線在一個地鐵計畫裡只能擁有一條，它能夠串連支線，組織支線網路。"></i>
      </transition>
    </div>
      <ul id="line_drag">
        <li v-for="(item, index) in line" v-show="!item.master" :class="{check:index_line==index}" class="line_list" @drop="drop_line($event,index)" :data-key="item._key" :key="item._key">
          <div v-if="!item.master" class="tool" @click="delete_line(item._key)">
            <i class="trash outline mini small icon"></i>
          </div>
          <input v-if="!item.master" class="line_input" type="text" v-model="item.name">
          <i v-if="!item.master" class="line_i" @dblclick="open_color(index,item.color)" @click="exchange_line(index)" :style="{backgroundColor:item.color}" ></i>
          <a v-if="!item.master" class="line_a" @dblclick="re_name(index,'line',$event)" @click="exchange_line(index)">{{item.name}}</a>
        </li>
        <transition name="fade">
          <div v-show="is_nav && line.length>1" style="position: absolute; top: 0px; right: -24px; z-index:55;">
            <i style="height: 100%;" class="nav_i custom ui orange film icon" ></i>
            <div class="ui custom popup hidden" style="width:100px;">I'm not on the same level as the button, but i can still be found. </div>
          </div>
        </transition>
      </ul>
	</div>
	<a id="new_line" class="default_a" @click="new_line()">新增支線</a>
</div>
<div id="edit_parent">
	<a :class="{ active: is_nav }" @click="is_nav=!is_nav" class="left_icon navigation" data-tooltip="切換導覽"  data-position="right center"><i class="help circle icon"></i></a>
	<a class="left_icon" data-tooltip="登出"  data-position="right center" onclick="logout()"><i class="power icon"></i></a>
</div>


<script>
  function drop_line(event,index){
		if(vm.index_line==index)return;
		
		var metro_key = event.dataTransfer.getData("key");
		if(metro_key=="")return;
		var _metro=vm.move_metro(metro_key,index);
		if(_metro==undefined)return
		_metro=_metro[0];
		var data = JSON.parse(JSON.stringify(vm.get_blueprint())); //將傳址改為傳值
		data.line[index].metro.push(_metro);
		vm.action="drop_line";
		vm.更新藍圖(data.key,data);
		
	}
    
$(function(){
  $(document.body).append("<div id='left_color' style='position: absolute;left:0;top:0'></div>");
  $('#left_color').colpick({
    layout:'hex',
    onHide:function(){
      vm.pick_master=undefined;
      vm.pick_color=undefined;
    },
    onChange:function(hsb,hex,rgb,el,bySetColor){
      vm.pick_color="#"+hex;
    },
    onSubmit:function(hsb,hex,rgb,el,bySetColor){
      $(el).val(hex);
      $(el).colpickHide();
    }
  }).colpickHide();
})
</script>