<div class="right_header_line" :style="{borderTopColor:master_line_color}"></div>
<div class="right_tool">
  <div class="over"></div>
  
  <div class="r_button active" :style="{backgroundColor:master_line_color}">
    <i class="svg home"><img src="src/static/images/home.svg"></i>
  </div>
  <div class="r_button" :style="{backgroundColor:master_line_color}">
    <i class="youtube play icon"></i>
  </div>
  <div class="r_button" :style="{backgroundColor:master_line_color}">
    <i class="svg search"><img src="src/static/images/search.svg"></i>
  </div>
<!--
  <div class="r_button" :style="{backgroundColor:master_line_color}">
    <i class="comment icon"></i>
  </div>
-->
  <div class="r_button" :style="{backgroundColor:master_line_color}">
    <i class="svg question"><img src="src/static/images/question.svg"></i>
  </div>

</div>

<div class="right_main">
  <div class="r_content active">
    <div style="font-size: 1rem;">重要公告：</div>
      <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
      <div style="margin-top:-3px;color:#757575;font-size: .95rem;">※本平台最佳瀏覽器為 <a class="default_a" href="https://www.google.com.tw/chrome/browser/desktop/" target="_blank">Google Chrome</a></div>
    <div style="margin-top:1px;color:#757575;font-size: .95rem;">※目前還不支援手機版</div>
   
    <div style="font-size: 1rem; margin-top:3rem">給我們建議：</div>
    <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
      <div class="clearfix" style="margin-top:5px;">
        <div class="text_b"><i class="write icon"></i>網站使用滿意度調查</div>
        <a onclick="$('#feedback_modal').modal({closable: false}).modal('show')" target="_blank"><div class="text_b"><i class="comment icon"></i>提供建議</div></a>
      </div>
    
    <div style="font-size: 1rem; margin-top:1.5rem">關注我們：</div>
    <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
    <div style="margin-top:5px;">
      <a href="https://www.facebook.com/infometro.cc/" target="_blank"><button class="ui facebook button mini"><i class="facebook icon"></i> Facebook </button></a>
    </div>
    <div style="margin-bottom:20px;"></div>
    
  </div>
  <div class="r_content">
    <div style="font-size: 1rem;">youtube播放列表：</div>
    <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
    <div style="color:#757575;font-size: 1rem;">
      即將推出的功能，您可將youtube影片置放於此。
    </div>
  </div>
  <div class="r_content">
    <div style="font-size: 1rem;">搜尋結果：</div>
    <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
    <div style="color:#757575;font-size: 1rem;">
      即將推出的功能。
       <div v-if="search_metro.length>0">
          <div v-for="(item, index) in search_metro">
            <div>{{item.line_name}}-->{{item.metro_name}}</div>
          </div>
          <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
       </div>
      <div v-if="search_info.length>0">
        <div v-for="(item, index) in search_info">
          <div>{{item.message}}</div>
        </div>
      </div>
       
    </div>
    <div id="right_search">
      <input type="text" placeholder="搜尋此地鐵" onkeyup="info_search()">
      <img src="src/static/images/search.svg">
    </div>
    
  </div>
  <div class="r_content">
    <div style="font-size: 1rem;">常見問題：</div>
    <div class="ui section divider" style=" margin-top: .3rem;margin-bottom: .3rem;"></div>
    <div class="ui accordion" style="margin-bottom:60px;">
<!--     https://semantic-ui.com/modules/accordion.html#/definition-->
      <div class="title active"><i class="dropdown icon"></i> 如何使用？</div>
      <div class="content active">
        <p class="transition visible">目前infometro 的操作說明，位在左邊的導覽功能上(點擊<i class="help circle icon"></i>切換)，若還有疑問，歡迎<a class="default_a" href="javascript:$('#feedback_modal').modal({closable: false}).modal('show')">留言</a>詢問讓我們知道。</p>
      </div>
      <div class="title"><i class="dropdown icon"></i> 如何刪除我的帳號 </div>
      <div class="content">
        <p class="transition hidden">infometro 目前登入的方式使用facebook帳號進行綁定，您可以在facebook上解除與我們的關係。</p>
        <p class="transition visible">
          如果您想完全刪除帳號不留下任何記錄，請<a class="default_a" href="javascript:$('#feedback_modal').modal({closable: false}).modal('show')">留言</a>給我們，我們將手動為您刪除。
        </p>
      </div>
      <div class="title"><i class="dropdown icon"></i> 目前支援的平台/瀏覽器 </div>
      <div class="content">
        <p class="transition hidden">因為infometro正值初步發展期，所以僅針對電腦螢幕的使用者做設計、手機或平版只能用目前的電腦版本下去瀏覽，瀏覽器方面以google 的chrome 會得到較好的速度與體驗。</p>
      </div>
    </div>
  </div>

</div>
<div class="right_line"></div>