<div id="triangle_left"></div>
  <div id="top_tag_parent">
    <ul id="top_tag">
      <li v-for="(item, index) in metro" :data-index="index" class="metro_list">
        <span class="top_join first" v-if="index==0"><span @click="new_metro(index)">加號</span></span>
        <i @click="exchange_metro(item._key)" :style="check_metro(item._key,index)"></i>
        <span class="top_name" @dblclick="re_name(index,'metro')">{{item.name}}</span>
        <input class="metro_input" type="text" v-model="item.name">
        <span class="top_join"><span @click="new_metro(index+1)">加號</span></span>
      </li>
    </ul>
  </div>
<div id="triangle_right"></div>


<script>
  $(function(){
    $("#triangle_right").click(function(){
      $("#top_tag").css("left",(parseInt($("#top_tag").css("left"))-80));
    })
    $("#triangle_left").click(function(){
      var _x=parseInt($("#top_tag").css("left"))+80;
      if(_x>23)_x=23;
      $("#top_tag").css("left",_x);
    })
  })
</script>
