<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<title>infometro.cc</title>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/css/perfect-scrollbar.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="src/build/css/infometro.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.3.1/vuefire.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script src="src/static/js/jquery.jrumble.1.3.min.js"></script>
<script src="src/build/js/public.js"></script>
<script src="src/build/js/firebase_init.js"></script>

<!-- jquery-color-pick -->
<link rel="stylesheet" type="text/css" href="src/static/css/colpick.css" />
<script src="src/static/js/colpick.js"></script>
<!-- jquery-color-pick -->
</head>
<body>
<div id="main">
  <div id="left">
    <div id="line_parent">
	<div id="logo"><img src="src/static/images/icon_128.fw.png" alt=""></div>
	<div class="line_text">所有支線：</div>
	<div id="left_line">
      <ul id="line_drag">
        <li @drop="drop2(index)" v-for="(item, index) in line" :class="check_line(index)"  class="line_list">
          <div class="tool" @click="delete_line(index)">
            <i class="trash outline icon"></i>
          </div>
          <input class="line_input" type="text" v-model="item.name">
          <i class="line_i" @click="open_color(index,item.color)" :style="{backgroundColor:item.color}" ></i>
          <a class="line_a" @dblclick="re_name(index,'line')" @click="exchange_line(index)">{{item.name}}</a>
        </li>
      </ul>
	</div>
	<a id="new_line" class="default_a" @click="new_line()">新增支線</a>
</div>
<div id="edit_parent">
	<a class="left_icon" href="javascript:void(0)"><i class="setting icon"></i></a>
	<a class="left_icon" href="javascript:void(0)"><i class="power icon"></i></a>
</div>
 

  <script>
	function allowDrop2(ev) {
		 ev.preventDefault();
	}
	function drop2(index){
		print(index)
		
	}
$(function(){
  $(document.body).append("<div id='left_color' style='position: absolute;left:0;top:0'></div>");
  $('#left_color').colpick({
    layout:'hex',
    onSubmit:function(hsb,hex,rgb,el,bySetColor){
      $(el).val(hex);
      $(el).colpickHide();
    }
  }).colpickHide();
})
	</script>
  </div>
  <div id="top">
    <div id="triangle_left"></div>
  <div id="top_tag_parent">
    <ul id="top_tag">
      <li v-for="(item, index) in metro" :data-index="index" class="metro_list">
        <span class="top_join first" v-if="index==0"><span @click="new_metro(index)">加號</span></span>
        <i @click="exchange_metro(item._key)" :style="check_metro(item._key,index)"></i>
        <span class="top_name" @dblclick="re_name(index,'metro')">{{item.name}}</span>
        <input class="metro_input" type="text" v-model="item.name">
        <span class="top_join"><span @click="new_metro(index+1)">加號</span></span>
      </li>
    </ul>
  </div>
<div id="triangle_right"></div>


<script>
  $(function(){
    $("#triangle_right").click(function(){
      $("#top_tag").css("left",(parseInt($("#top_tag").css("left"))-80));
    })
    $("#triangle_left").click(function(){
      var _x=parseInt($("#top_tag").css("left"))+80;
      if(_x>23)_x=23;
      $("#top_tag").css("left",_x);
    })
  })
</script>

  </div>
  <div id="center">
    <div id="board1">
  <div id="board_line_parent">
    <div id="board_line"><i style="background-color:#30CB68"></i>
      <div>{{ line_name }}</div>
    </div>
    <div id="board_edit" ondragover="allowDrop(event)" ondrop="drop(event)"><i class="male icon"></i></div>
  </div>
  <div id="board_tag_name">
    <div id="tag_name">
      <i style="background-color:#30CB68;"></i>
      <div id="tag_name_info">
        <div>{{ metro_name }}</div>
        <div>資訊共25筆</div>
        <div>建立時間：<span>2015/03/29</span></div>
      </div>
    </div>
  </div>
  <div id="board3">
    <div id="board3_header"><i class="heart orange icon"></i><span class="text">最愛連結</span>
    </div>
    <div id="board_favorites">
      <div v-for="n in 20"></div>
    </div>
    <div id="board_search">
      <div id="input_search">
        <input type="text" placeholder="Search">
        <i class="search icon"></i>
      </div>
    </div>
    <div id="board_copyright"></div>
  </div>
</div>
<div id="board2">
  <div id="board_enter_parent">
    <div id="board_img"><img src="src/static/images/img1.jpg"></div>
    <div id="board_enter">
      <textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
    </div>
  </div>
  <div id="board_send_parent">
    <div id="board_tag_select">
    </div>
    <button @click="new_info()" id="board_send" class="ui mini orange button" type="submit">送出</button>
  </div>
  <div id="board_info">
    <div v-for="(item, index) in info" class="ui vertical segment clear">
      <img class="ui medium left floated image transition " src="src/static/images/square-image.png">
      <p>{{item.message}}</p>
      <span class="left">
        <i class="like icon"></i>
        <i @click="delete_info(item['.key'])" class="trash icon"></i>
      </span>
    </div>
  </div>
</div>


<script>
  function drop(ev){
    var index = ev.dataTransfer.getData("index");
    vm.delete_metro(index);
  }  
  function allowDrop(event) {
    event.preventDefault();
  }
</script>
  </div>
  <div id="bottom">
    <div id="blueprint">
  <div id="blueprint_drag">
    <div v-for="(item, index) in blueprint" class="blueprint_list ui top left pointing dropdown" @dblclick="re_name(index,'blueprint')" @click="exchange_blueprint(index)">
      <a class="blueprint_a" :class="check_blueprint(index)"> {{item.name}}
      </a>
      <input class="blueprint_input" type="text" v-model="item.name">
      <i class="blueprint_i dropdown icon"></i>
      <div class="menu">
        <div class="item" @click="re_name(index,'blueprint')"><i class="edit icon"></i>重新命名</div>
        <div class="item" @click="delete_blueprint(item.key,index)"><i class="delete icon"></i>移除</div>
        <div v-show="!check_blueprint(index)" class="item" @click="exchange_blueprint(index,true)"><i class="exchange icon"></i>切換</div>
      </div>
    </div>
  </div>
  <div id="blueprint_new" class="ui icon button" data-tooltip="新增一個地鐵計畫" data-inverted="" @click="new_blueprint()">
    <i class="add icon"></i>
  </div>
</div>
<div id="copyright">2017資訊地鐵站 版權所有 </div>
  </div>
  <div id="right">
    <div class="right_header_line"></div>
<div class="right_tool">
  <div class="r_button">
    <div id="首頁" class="r_b t2"></div>
  </div>
  <div class="r_button active">
    <i class="facebook f icon"></i>
  </div>
  <div class="r_button">
    <div id="資訊" class="r_b t2"></div>
  </div>
  <div class="r_button">
    <div id="搜尋" class="r_b t2"></div>
  </div>
  <div class="r_button">
    <div id="問號" class="r_b t2"></div>
  </div>
</div>
<div class="right_main">
  <div v-for="n in 50">
    <br><br><br>
  </div>
</div>
<div class="right_line"></div>
  </div>
</div>
<script>
var vm = new Vue({
  el: '#main',
  data: {
    blueprint : [],
    index : [],
    index_blueprint: 0,
    index_line: 0 ,
    index_metro : 0 ,
    key_metro : "",
    action : "",
    info : []
  },firebase: {
    
  },computed: {
   line : function(){//載入line
     if(this.blueprint.length==0)return false; //藍圖如果不存在離開
     return this.get_blueprint().line;
   },
   line_name : function(){
     if(this.blueprint.length==0)return ""; //藍圖如果不存在離開
     return this.get_line().name;
   },
   metro : function(){//載入metro
     if(this.blueprint.length==0)return false; //藍圖如果不存在離開
     return this.get_line().metro;
   },
   metro_name : function(){
     if(this.blueprint.length==0)return ""; //藍圖如果不存在離開
     return vm.get_line().metro[vm.index_metro].name;
   }
  },watch: {
    index_blueprint : function(){
      for(var i=0;i<this.index.length;i++){
        this.index[i].check=undefined;
      }
      this.index[this.index_blueprint].check=true;
    },index_line : function(){
      var index_array=vm.get_index_blueprint();
      for(var i=0;i<index_array.length;i++){
        index_array[i].check=undefined;
      }
      index_array[this.index_line].check=true;
    },key_metro : function(){
      vm.$bindAsArray('info',D.ref("info/"+user.uid+"/"+vm.key_metro));
      var _index= this.index[this.index_blueprint][this.index_line];
      _index._key=this.key_metro;
    }
  },methods: {
    更新藍圖 :function (key,data){
      if(key==undefined || data==undefined){
        data=vm.get_blueprint();
        key=data.key;
      }
       D.ref('users/' + user.uid +"/"+key).update(data);
    },
    update_line_index : function(index_array){
      var _index=0;
      for(var i=0;i<index_array.length;i++){
        if(index_array[i].check){
          _index=i;
          break;
        }
      }
      this.index_line=_index;
    },update_metro_index : function(index_array){
      var _metro=this.get_line().metro;
      if(index_array._key){//代表有選到的結點
        for(var i=0;i<_metro.length;i++){
          if(_metro[i]._key==index_array._key){
            vm.key_metro=_metro[i]._key
            break;
          }
        }
      }else{//使用預設
        vm.key_metro=_metro[0]._key;
      }
    },new_blueprint : function(){//新增藍圖
      vm.action="new_blueprint"
      var newRef=D.ref('users/' + user.uid).push();
      newRef.set({
        name: "未命名",
        line : line_template()
      })
    },delete_blueprint : function (key,index){//刪除藍圖
      vm.index.splice(index,1);
      D.ref('users/' + user.uid+"/"+key).remove();
    },exchange_blueprint : function(index,target){
      var _event=event;
      if($("html").hasClass("re_name")){//解決編輯按兩下的BUG
        return setTimeout(function(){
          _eb();
        },0);
      }
      _eb();
      function _eb(){
        if(_event && _event.target){
          if(_event.target.className!=undefined){
            if(_event.target.className.indexOf("blueprint_a")>-1 || _event.target.className.indexOf("blueprint_i")>-1){
              target=true;
            }
          }
        }
        if(target){
          vm.index_blueprint=index;
          vm.update_line_index(vm.index[index]);
          vm.update_metro_index(vm.index[index][vm.index_line]);
        }
      }
    },get_blueprint : function(index){
      if(index!=undefined)return this.blueprint[index];
      return this.blueprint[this.index_blueprint];
    },get_index_blueprint : function(){
      return vm.index[vm.index_blueprint];
    },re_name : function(index,_level){
      $("html").addClass("re_name");
      var $level_list=$(event.target).closest("."+_level+"_list");
      $level_list.addClass("edit");
      sortable[_level].option("disabled", true);
      var _name=get_level().name;
      var $level_list_input=$level_list.find("."+_level+"_input");
      $level_list_input.select().on("keyup."+_level+"_input",function(event){
        if(event.which==13){
          edit_set();
          vm.更新藍圖();
        }else if(event.which==27){
          edit_set();
          get_level().name=_name;
        }
      })
      setTimeout(function(){
        $(document).on("click."+_level+"_input",function(event){
          if(event.target.className.indexOf(""+_level+"_input")==-1){
            edit_set();
            get_level().name=_name;
          };
        })
      },5);
      function get_level(){
        if(_level=="blueprint"){
          return vm.blueprint[index];
        }else if(_level=="line"){
          return vm.get_blueprint().line[index];
        }else if(_level=="metro"){
          return vm.get_line().metro[index];
        }
      }
      function edit_set(){
       $(document).one("click",function(){//解決出現Chrome英文翻譯的問題
         $("html").removeClass("re_name");
       })
        $level_list.removeClass("edit");
        sortable[_level].option("disabled", false);
        $level_list_input.off("keyup."+_level+"_input");
        $(document).off("click."+_level+"_input");
      }
    },check_blueprint : function(index){
      if(this.index_blueprint==index){
        return "check";
      }
    },exchange_line : function(index){
      if($("html").hasClass("re_name")){//解決編輯按兩下的BUG
        return setTimeout(function(){
          _el();
        },0)
      }
      _el();
      function _el(){
        vm.index_line=index;
        vm.update_metro_index(vm.get_index_blueprint()[index]);
      }

    },get_line : function(){
      var _blueprint=this.get_blueprint();
      if(_blueprint.line){
        return _blueprint.line[this.index_line];
      }else{
        return []; //沒有資料先用這個以防出錯
      }
    },get_index_line : function(){
      return vm.index[vm.index_blueprint][vm.index_line];
    },check_line : function(index){
       if(this.index_line==index){
        return "check";
      }
    },new_line : function(){
      vm.action="new_line";
      var data=this.get_blueprint();
      if(!data.line)data.line=[];//如果沒有line就新增一個空陣列
      var get_color= vm.get_default_color( data.line.length+1);
      var _j=line_json("未命名",get_color);
      _j.metro.push(metro_json("總站"));
      data.line.push(_j);
      vm.get_index_blueprint().push([]);
      this.更新藍圖(data.key,data);
    },delete_line : function(index){
      var data=this.get_blueprint();
      data.line.splice(index,1);
      vm.get_index_blueprint().splice(index,1);
      this.更新藍圖(data.key,data);
    },new_metro : function (order){
      var _metro=metro_json("未命名");
      var data=JSON.parse(JSON.stringify(this.get_blueprint()));//將傳址改為傳值
      data.line[vm.index_line].metro.splice(order,0,_metro);
      this.更新藍圖(data.key,data);
    },check_metro : function(key,index){
      if(vm.key_metro==key){
        var _color=this.get_line().color;
        vm.index_metro=index;
        return "background-color: "+_color;
      }
    },exchange_metro : function(key){
      this.key_metro=key;
    },delete_metro : function(index){
      var data=JSON.parse(JSON.stringify(this.get_blueprint()));//將傳址改為傳值
      var old_metro_key=data.line[this.index_line].metro[index]._key;
      data.line[this.index_line].metro.splice(index,1);
      if(this.key_metro==old_metro_key){//代表刪到選取的站
        if(data.line[this.index_line].metro.length==0)return
        var _index=index-1;
        if(_index<0)_index=0;
        var new_metro_key=data.line[this.index_line].metro[_index]._key;
        this.key_metro=new_metro_key;
        vm.get_index_line().metro=new_metro_key;
      }
      this.更新藍圖(data.key,data);
    },get_default_color : function(k){
      if(k==1){
        return "#f2711c";
      }else if(k==2){
        return "#db2828";
      }else if(k==3){
        return "#fbbd08";
      }else if(k==4){
        return "#b5cc18";
      }else if(k==5){
        return "#21ba45";
      }else if(k==6){
        return "#00b5ad";
      }else if(k==7){
        return "#2185d0";
      }else if(k==8){
        return "#5829bb";
      }else if(k==9){
        return "#a333c8";
      }else if(k==10){
        return "#e03997";
      }else if(k==12){
        return "#a5673f";
      }else if(k==13){
        return "#767676";
      }else{
        return "#000000";
      }
    },open_color : function(index,color){
      color=color.split("#")[1];
      var $et=$(event.target);
      var _left=$et.offset().left;
      var _top=$et.offset().top + $et.height()+2;
      
      $("#left_color").css({
        "left" : _left,
        "top" : _top
      }).colpickSetColor(color).colpickShow();
      $(".colpick_submit").off("click.op").on("click.op",function(){
        vm.get_blueprint().line[index].color="#"+$("#left_color").val();
        vm.更新藍圖();
        $(this).off("click.op");
      });
    },new_info : function(){
      var _data ={
         message : $("#board_textarea").val() ,
         favorite : false 
//          screenshot : "" ,
//          title : "home" ,
//          href : "" ,
//          add_date :"" ,
//          icon : "https://www.google.com/s2/favicons?domain_url=http://www.eztravel.com.tw"
      }
      $("#board_textarea").val("");
      D.ref('info/' + user.uid + "/"+ vm.key_metro).push(_data);
    },delete_info : function(key){
      D.ref('info/' + user.uid + "/"+ vm.key_metro).child(key).remove();
    }
  }
})

function _is_login(){//程式進入點
  blueprint_init(function(){
    $(".blueprint_list").dropdown("destroy").dropdown({
       on : 'customClick'
     });
    $(".blueprint_list").off("contextmenu.custom").on("contextmenu.custom",function(event){
      event.preventDefault();
      if(event.target.nodeName=="INPUT"){
        return
      }
      $(this).trigger("customClick");
    })
  });
}
// $(document).bind('selectstart',function(){return false;})
</script>

<script src="src/build/js/main.js"></script>
</body>
</html>