<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<title>infometro.cc</title>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/infometro.css">-->
<link rel="stylesheet/less" type="text/css" href="css/infometro.less" />

<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="js/less.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>

</head>
<body >
<div id="main">
  <div id="left">
    <div id="line_parent">
      <div id="logo"><img src="images/icon_128.fw.png" alt=""></div>
      <div class="line_text">所有支線：</div>
      <div id="left_line">
          <ul>
              <li>
                  <svg class="tool" fill="#FF6907">
                    <g>
                                <path class="st0" d="M4.7,0.8c-0.8-0.8-2-1-3-0.5l1.8,1.8L2.1,3.4L0.3,1.6c-0.5,1-0.3,2.2,0.5,3c1.1,1.1,2.8,1,3.9-0.1
                                    C5.7,3.6,5.7,1.8,4.7,0.8z"/>
                                <path class="st0" d="M8.8,7.4C8.4,7.8,8,8.2,7.6,8.6C5.7,7.1,4.2,5.4,2.7,3.9c0.4-0.4,0.8-0.8,1.2-1.1C5.4,4.3,6.9,5.9,8.8,7.4z"
                                    />
                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3248 7.9671)" class="st0" cx="8" cy="8" rx="1.2" ry="1.3"/>
                    </g>
                  </svg>
                  <i style="background-color:#FF6907"></i>
                  <span>淡水線</span>
              </li>
              <li>
                  <svg class="tool" fill="#0C00B3">
                    <g>
                                <path class="st0" d="M4.7,0.8c-0.8-0.8-2-1-3-0.5l1.8,1.8L2.1,3.4L0.3,1.6c-0.5,1-0.3,2.2,0.5,3c1.1,1.1,2.8,1,3.9-0.1
                                    C5.7,3.6,5.7,1.8,4.7,0.8z"/>
                                <path class="st0" d="M8.8,7.4C8.4,7.8,8,8.2,7.6,8.6C5.7,7.1,4.2,5.4,2.7,3.9c0.4-0.4,0.8-0.8,1.2-1.1C5.4,4.3,6.9,5.9,8.8,7.4z"
                                    />
                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3248 7.9671)" class="st0" cx="8" cy="8" rx="1.2" ry="1.3"/>
                    </g>

                  </svg>
                  <i style="background-color:#0C00B3"></i>
                  <span>短文字的的</span>
              </li>
              <li>
                  <svg class="tool" fill="#30CB68">
                    <g>
                                <path class="st0" d="M4.7,0.8c-0.8-0.8-2-1-3-0.5l1.8,1.8L2.1,3.4L0.3,1.6c-0.5,1-0.3,2.2,0.5,3c1.1,1.1,2.8,1,3.9-0.1
                                    C5.7,3.6,5.7,1.8,4.7,0.8z"/>
                                <path class="st0" d="M8.8,7.4C8.4,7.8,8,8.2,7.6,8.6C5.7,7.1,4.2,5.4,2.7,3.9c0.4-0.4,0.8-0.8,1.2-1.1C5.4,4.3,6.9,5.9,8.8,7.4z"
                                    />
                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3248 7.9671)" class="st0" cx="8" cy="8" rx="1.2" ry="1.3"/>
                    </g>
                  </svg>
                  <i style="background-color:#30CB68"></i>
                  <span>新店線</span>
              </li>
          </ul>
      </div>
      <a href="javascript:void(0)" id="new_line" onclick="edit_metro()">新增支線</a>
    </div>
    <div id="edit_parent">
<!--  http://semantic-ui.com/elements/icon.html-->
      <a class="left_icon" href="javascript:void(0)"><i class="setting icon"></i></a>
<!--  <a class="left_icon" href="javascript:void(0)"><i class="help circle icon"></i></a>-->
<!--  sign out-->
      <a class="left_icon" href="javascript:void(0)"><i class="power icon"></i></a>
    </div>
  </div>
  <div id="center">
    <div id="top">
      <div id="triangle_left"></div>
      <div id="top_tag_parent">
        <ul id="top_tag">
          <li v-for="n in 20">
            <i ></i><span>我的收藏</span>
          </li>
          <li><i style="background-color:#30CB68;"></i><span>我的學歷</span></li>
        </ul>
      </div>
      <div id="triangle_right"></div>
    </div>
    <div id="board1">
        <div id="board_line_parent">
                  <div id="board_line"><i style="background-color:#30CB68"></i><div>淡水線</div></div>
                  <div id="board_edit"><i class="male icon"></i></div>
        </div>
        <div id="board_tag_name">
          <div id="tag_name">
              <i style="background-color:#30CB68;"></i>
              <div id="tag_name_info">
                  <div>社會學</div>
                  <div>資訊共25筆</div>
                  <div>建立時間：<span>2015/03/29</span></div>
              </div>
          </div>
        </div>
      <div id="board3">
        <div id="board3_header"><i class="heart orange icon"></i><span class="text">最愛連結</span>
        </div>
        <div id="board_favorites">
          <div v-for="n in 20"></div>
        </div>
        <div id="board_search">
          <div id="input_search">
              <input type="text" placeholder="Search">
              <i class="search icon"></i>
          </div>
        </div>
        <div id="board_copyright"></div>
      </div>
    </div>
    <div id="board2">
        <div id="board_enter_parent">
          <div id="board_img"><img src="images/img1.jpg"></div>
          <div id="board_enter">
              <textarea id="board_textarea" name="textarea1" placeholder="輸入資訊"></textarea>
          </div>
        </div>
        <div id="board_send_parent">
          <div id="board_tag_select">
            <select class="ui normal fluid search dropdown mini" multiple="">
                <option value="">分類地鐵</option>
                <option value="AL1">Alabama</option>
                <option value="AK2" selected>Alaska</option>
                <option value="AZ3" selected>Arizona</option>
                <option value="AR4" selected>Arkansas</option>
                <option value="AK5">Alaska</option>
                <option value="AZ6">Arizona</option>
                <option value="AR7">Arkansas</option>
                <option value="AK8">Alaska</option>
                <option value="AZ9">Arizona</option>
                <option value="AR10">Arkansas</option>
                <option value="AK11">A</option>
                <option value="AZ12">A</option>
                <option value="AR13">Arks</option>
            </select>
          </div>
          <button id="board_send" class="ui mini orange button" type="submit">送出</button>
        </div>
        <div id="board_info">
          <div v-for="n in 30" class="ui vertical segment clear">
              <img class="ui medium left floated image transition " src="images/square-image.png">
              <p>看見我的靈魂裡那洗拭不去的黑色污點</p>
              <span class="left">
                  <i class="like icon"></i>
                  <i class="trash icon"></i>
              </span>
          </div>
        </div>
      </div>
  </div>
  <div id="bottom">
     <div id="blueprint">
       <div class="blueprint_list">
         <div>我的地鐵1</div>
         <div>我的地鐵2</div>
         <a href="">新增地鐵</a>
       </div>
     </div>
     <div id="copyright">2017資訊地鐵站 版權所有 </div>
  </div>
  <div id="right">
    <div class="right_header_line"></div>
    <div class="right_tool">
      <div class="r_button">
        <div id="首頁" class="r_b t2"></div>
      </div>
      <div class="r_button active">
        <i class="facebook f icon"></i>
      </div>
      <div class="r_button">
        <div id="資訊" class="r_b t2"></div>
      </div>
      <div class="r_button">
        <div id="搜尋" class="r_b t2"></div>
      </div>
      <div class="r_button">
        <div id="問號" class="r_b t2"></div>
      </div>
    </div>
    <div class="right_main">
      <div v-for="n in 50">
        <br><br><br>
      </div>
    </div>
    <div class="right_line"></div>
  </div>
</div>
<script>
  var vm = new Vue({
    el: '#main',
    data: {
      message: 'Hello Vue!'
    }
  })
  
   var b1_left=parseInt($("#board1").css("left"));
   var b2_left=parseInt($("#board2").css("left"));
   var b3_left=parseInt($("#board3").css("left"));
  $(window).resize(function(){
    var window_width=$(window).width();
    $("#top").css("width",$("#center").width());
    if($("#main").width()<1260){
      $("#board3").addClass("board3_left");
      var _move=($("#center").width()-860)/2;
      $("#board1").css("left",b1_left+_move);
      $("#board2").css("left",b2_left+_move);
    }else{
      $("#board3").removeClass("board3_left");
      var _move=($("#center").width()-1200)/2;
      $("#board1").css("left",b1_left+_move);
      $("#board2").css("left",b2_left+_move);
      $("#board3").css("left",b3_left+_move);
    }
  }).resize();
  $("#main").css("visibility","visible").css("left",0);

	$(function(){
	$("#board_textarea").keyup(function(e) {
	$(this).height(70);
    $(this).height(this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")));
});	
	$('#board_tag_select .ui.normal.dropdown').dropdown({
		onChange: function(value, text, $selectedItem) {
			//console.log($selectedItem)
    }
	});
		
	})
	
	$("#triangle_right").click(function(){
		$("#top_tag").css("left",(parseInt($("#top_tag").css("left"))-80));
	})
	$("#triangle_left").click(function(){
		var _x=parseInt($("#top_tag").css("left"))+80;
		if(_x>23)_x=23;
		$("#top_tag").css("left",_x)
	})
</script>
</body>
</html>