header{
  height: 48px;
  border-bottom: 1px solid #B6B4B6;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 2000;
}
.logo{
  cursor: pointer;
}
#header_main {
	padding-top: 8px;
	padding-left: 10px;
	padding-left: 17px;
	position: relative;
	img.logo {
		width: 30px;
		box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset,0 .1em 0.4em -0.05em rgba(0,0,0,.5);
	}
}

#hamburgers{
	display: none;
	color: #9e9898;
	position: relative;
	top: -6px;
	cursor: pointer;
	i{
		font-size: 1.8em;
	}
}

#header_search{
  max-width: 480px;
  border-radius: 0;
  &:focus{
    border-color: inherit!important;
  }
}
#header_area{
  position: absolute;
  right: 22px;
  top: 11px;
  line-height: 2em;
  img{
    border: 1px solid #cdcdcd;
    margin-right: 7px;
  }
  .menu{
    width: 220px;
  }
  .header_name{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
  }
}
.header_input{
  border-color: #FF6900;
  left: 69px;
  top: -10px;
	width: 59%;
}
@media screen and (max-width:800px)  {
	#header_area {
		right: 8px;
		img{
			margin-right: -2px;
		}
	}
	#header_area .header_name{
		display: none;
	}
  .header_input{
		position: absolute!important;
    width: 100%;
		left: auto;
		top: 7px;
		padding-right: 150px;
  }
	#hamburgers{
	  display: inline-block;
	}
}
@media screen and (max-width:500px)  {
	#header_main {
		padding-left: 7px;	
	}
}
.header_list{
  position: absolute;
  width: calc(~"100% - 33px");
  top: 32px;
  box-shadow: 1px 2px 2px 0 rgba(34,36,38,.15);
  border: 1px solid #d4d4d5;
  border-top: none;
  border-bottom: none;
  .ui{
    border: none;
    padding: .8em .8em;
    margin-top: 0!important;
    &:hover{
      background-color: #f7f7f7;
      cursor: pointer;
    }
  }
  .ui:last-child{
    border-radius: 0 0 .28571429rem .28571429rem;
  }
  .ui.top{
    border-radius: inherit;
    border-top: none;
  }
}

.header_metro{
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #B3B3B3;
  border-radius: 99em;
  z-index: 5;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.header_metro_name{
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: -1px;
  letter-spacing: 1px;
}