@left_width: 120px;
@left_pl : 17px;

@top_height: 65px ;
@bottom_height: 42px;

*{
	margin: 0;
	padding: 0;
}
ul {
  list-style-type: none;
}
a{
  cursor: pointer;
}
html,body{
	height: 100%;
}
body{
	font-family:Microsoft JhengHei;
}
button:focus,input:focus,select:focus,textarea:focus{
	outline:0;
}
#main{
  visibility: hidden;
  position: relative;
  left: -3000px;
  height: 100%;
  height: calc(~"100% - 42px");
    width: 80%;
    max-width: 1500px;
	min-width: 1000px;
    //overflow-y: scroll;
	#left{
		width: @left_width;
		font-size: 12px;
		height: 100%;
		float: left;
		position: relative;
		#line_parent{
			width: @left_width;
			position: fixed;
		}
		#logo {
			margin-top: 10px;
			margin-left: 10px;
			padding-left: @left_pl;
			img{
				width: 44px;
			}
		}
		.line_text{
			margin-top: 10px;
			margin-bottom: 7px;
			font-weight: bold;
			color: black;
			padding-left: @left_pl;
		}
		#left_line{
          margin-bottom: 10px;
			li{
				position:relative;
				height: 20px;
				color: black;
				font-weight: bold;
				cursor: pointer;
				padding-left: @left_pl;
				.line_i{
					width: 17px;
					height: 6px;
					top: 7px;
					position: absolute;
					z-index: 5;
					
				}
				.line_a{
					margin-left: 26px;
					width: 77px;
					display: block;
					line-height: 20px;
					position: relative;
					z-index: 5;
                    color: black;
				}
				.tool{
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 0px;
                  z-index: 6;
                  left: 1px;
                  display: none;
				}
				&:hover .tool{
					display: block;
				}
				&:hover::after , &.check::after{
					content: "";
					width: 100%;
					width: calc(100% - 4px);
					height: 20px;
					background-color: #F5F5F5;
					position: absolute;
					z-index: 3;
					left: 2px;
					border-radius: 1px;
					top: 0px;
				}
			}
		}
		#new_line{
			margin-left: @left_pl;
		}
		#edit_parent{	
			position: fixed;
			bottom: @bottom_height;
			a{
				display: block;
				color: black;
			}
			i.icon{
				font-size: 5em;
				width: 100%;
				margin:0;
				margin-top: 40px;
				margin-left: -2px;
			}
			#edit{
				width: @left_width;
				height: 100px;
				border-top: 1px solid #CDCDCD;
			}
			.left_icon{
				width: @left_width;
				height: 100px;
				border-top: 1px solid #CDCDCD;
			}
		}
	}
    #top{
			@li_width: 90px;
			height: @top_height;
			top: 0;
            width: 100%;
            left: @left_width+1;
			background-color:#DEDEDE;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#DEDEDE), to(#F1F1F2));
            background: -webkit-linear-gradient(#DEDEDE, #F1F1F2);
            background: -moz-linear-gradient(#DEDEDE, #F1F1F2);
            background: -ms-linear-gradient(#DEDEDE, #F1F1F2);
            background: -o-linear-gradient(#DEDEDE, #F1F1F2);
			background: linear-gradient(#DEDEDE, #F1F1F2);
			border-bottom: 1px solid #CDCDCD;
			position: fixed;
			z-index: 200;
			#top_tag_parent{
				width: 87%;
				height: 100%;
				overflow: hidden;
				margin: 0 auto;
				padding: 0 20px;
				position: relative;
			}
			#top_tag{
				position: absolute;
				top: 13px;
				width: @li_width*22;
				left: 23px;
				//transition: 
			}
			#top_tag li{
				display: inline-block;
				position: relative;
				color: #B3B3B3;
				width: @li_width;
				font-size: 12px;
				i{
					content: "";
					width: 18px;
					height: 18px;
					display: block;
					background-color: #B3B3B3;
					border-radius:99em;
					position:absolute;
					z-index: 5;
				}
				span{
					position: absolute;
					top: -20px;
					width: @li_width ;
					display: block;
					text-align: center;
					margin-left: -@li_width/2+9px;
				}
				&:not(:last-child)::after{
					content: "";
					width: @li_width;
					height: 7px;
					display: block;
					background-color: #B3B3B3;
					position:absolute;
					top:5px;
					left: 5px;
				}
			}
			#triangle_left{
				width: 20px;
				height: 20px;
				left: 40px;
				top: 27px;
				position: absolute;
				cursor: pointer;
				&::before{
					content: "";
					width: 0px;
					height: 0px;
					border-width: 8px;
					border-style: solid;
					border-color: transparent #B3B3B3 transparent transparent;
					position: absolute;
				}
			}
			#triangle_right{
				width: 20px;
				height: 20px;
				right: 30px;
				top: 25px;
				position: absolute;
				cursor: pointer;
				&::before{
					content: "";
					width: 0px;
					height: 0px;
					border-width: 8px;
					border-style: solid;
					border-color: transparent transparent transparent #B3B3B3;
					position: absolute;
				}
			}
		}
    #center_wrap{
        min-height: 100%;
    }
	#center{
		background-color: #F7F7F7;
		min-height: 100%;
		margin-left: @left_width;
		border: 1px solid #CDCDCD;
		padding-top: @top_height - 2;
        position: relative;
		
        #board1,#board2,#board3{
          border: 1px solid #CDCDCD;
		  border-top: 7px solid #FF6900;
		  background-color: #fff;
        }
		#board1{
			width: 280px;
			position: fixed;
			left: @left_width+28px;
			#board_line_parent{
				height: 88px;
				width: 100%;
				border-bottom: 1px solid #CDCDCD;
			}
			#board_line{
				width: 165px;
				height: 100%;
				border-right: 1px solid #CDCDCD;
				position: relative;
				padding-top: 23px;
				padding-left: 22px;
				i{
					width: 120px;
					height: 7px;
					display: block;
				}
				div{
					font-size: 23px;
					font-weight: bold;
					text-align: left;
					margin-top: 12px;
				}
			}
			#board_edit{
				position: absolute;
				right: 0;
				top: 34px;
				width: 114px;
				text-align: center;
				i{
					font-size: 3.7em;
				}
			}
			#board_tag_name{
				height: 100px;
				padding-top: 20px;
				padding-left: 22px;
				#tag_name{
					#tag_name_info{
						display: inline-block;
						vertical-align: top;
						margin-left: 5px;
						>div:first-child{
							margin-bottom: 5px;
							font-size: 18px;
							font-weight: bold;
						}
						>div:not(:first-child){
							line-height: 17px;
							font-size: 11px;
							letter-spacing: 0.05em;
						}
					}
					>i{
						width: 18px;
						height: 18px;
						display: block;
						background-color: #B3B3B3;
						border-radius: 99em;
						display: inline-block;
					}
				}
				
			}
		}
		#board2{
			width: 494px;
			margin: 0 22px;
			margin-bottom: @bottom_height + 20;
			left: 310px;
            float: left;
			position: relative;
			#board_enter_parent{
				border-bottom: 1px solid #CDCDCD ;
				padding-top: 18px;
				padding-left: 27px;
				padding-bottom: 25px;
				#board_img{
					width: 70px;
					display: inline-block;
					margin-right: 10px;
					vertical-align: top;
				}
				#board_enter{
					display: inline-block;
					textarea{
						border: 0;
						resize: none;
						height: 70px;
						width: 335px;
						font-weight: bold;
						overflow: hidden;
					}
				}
			}
			#board_send_parent{
				border-bottom: 1px solid #CDCDCD ;
				padding: 0;
				position: relative;
                height: 42px;
				#board_tag_select{
					width: 484px;
					padding: 5px 0;
					display: inline-block;
				}
				#board_send{
					vertical-align: top;
					position: absolute;
					right: 5px;
    			top: 8px;
					z-index: 100;
				}
			}
			#board_info{
				.info{
					padding: 10px;
					border-bottom: 1px solid #CDCDCD ;
					word-wrap: break-word;
					word-break: break-all;
				}
				>.ui{
					padding-left: 15px;
					padding-right: 5px;
				}
				border-bottom: 1px solid #CDCDCD ;	
			}
			border-bottom : none;
			.image{
				width: 100px;
			}
			p{
				width: 308px;
				float: left;
			}
			.icon{
				color: #B3B3B3;
				cursor: pointer;
			}
			.like.icon:hover{
				color: #f2711c;
			}
			.trash{
				font-size: 1.1em;
			}
			.trash.icon:hover{
				color:inherit;
			}
			.clear{
				.clearfix();
			}
		}
		#board3{
			width: 260px;
            top: @top_height;
			position: fixed;
			left: 972px;
			#board3_header{
				font-size: 15px;
				font-weight: bold;
				line-height: 15px;
				margin-top: 16px;
				margin-left: 14px;
				.text{
					vertical-align: top;
					margin-left: 5px;
				}
				i{
					font-size: 1.1em;
				}
			}
			#board_favorites{
				margin-top: 12px;
				padding-bottom: 30px;
				border-bottom: 1px solid #CDCDCD;
				>div{
					width: 119px;
					height: 33px;
					float: left;
					background-color: #e1e1e1;
					margin-left: 7px;
					margin-bottom: 5px;
					border-radius:5px
				}
				.clearfix();
			}
			#board_search{
				height: 75px;
				padding-left: 9px;
				#input_search{
					font-size: 13px;
					padding: 3px 5px;
					width: 180px;
					border: 1px solid #CDCDCD;
					border-radius : 2px;
					position: relative;
					top: 24px;
					color: #5B5B5B;
					i{
						position: absolute;
						right: 0;
						cursor: pointer;
					}
					input{
						width: 150px;
						border: none;
					}
					::-webkit-input-placeholder{
						color: #666666;
					}
				}
			}
			#board_copyright{
				
			}
            &.board3_left{
               border-top: 1px dashed #cdcdcd;
               border-bottom: 0;
               position: relative;
               left: -1px!important;
               width: 280px;
               top: 0;
              #board_favorites{
                >div{
                  margin-left: 13px;
                }
              }
              #board_search{
                padding-left: 13px;
              }
            }
		}
        .right_line_2{
          position:absolute;
          width:4px;
          height:100%;
          right: -4px;
          background-image:url(../images/left_line.png);
//          right: -3px;
//          background-image:url(../images/right_line.png);
          top: -1px;
          z-index:4;
        }
		.clearfix();
	}
    #bottom{
      background-color: #b2b2b2;
      width: 100%;
      position: fixed;
      height: @bottom_height;
      line-height: @bottom_height;
      padding-top: 3px;
      bottom: 0;
      font-size: 13px;
      font-weight: bold;
      text-shadow:0px 0px 1px #999999;
      z-index: 220;
      #blueprint{
        float: left;
        padding-left: 15px;
        #blueprint_drag{
          display: inline-block;
          .blueprint_list{
            display: inline-block;
          }
        }
        #blueprint_new{
          margin-left: 8px; 
        }
        .blueprint_a{
          margin-right: 8px;
          color: black;
          &.check{
            border-bottom: 1px solid black;
          }
        }
       .clearfix();
      }
      
      #copyright{
        float: right;
        padding-right: 20px;
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 8px;
        background: linear-gradient(to right,#000 50%,#FF6900 0%);
        background-size: 47px 100%;
      }
    }
}
#right{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
    height: calc(~"100% - 42px");
    padding-bottom: 10px;
    //max-width: 245px;
    width: 270px;
    border-left: 1px solid #DEDFDF;
    z-index: 210;
  .backgroup_1();
  .right_header_line{
    border-top: 7px solid #FF6900; 
  }
  .right_tool{
    background-color: #CCCCCC;
    .r_button{
      float: left;
      width: 35px;
      height: 35px;
      margin: 0;
      text-align: center;
      &.active{
        background-color: #FF6900;
      }
    }
    i.icon{
      font-size: 1.5em;
      &:before{
        position: relative;
        top: 9px;
        left: 2px;
      }
    }
    .r_b{
      background-image:url(../images/button.png);
      width: 100%;
      height: 100%;
      &#首頁{
        background-position:0px 0px;
      }
      &#搜尋{
        background-position:-36px 0px;
      }
      &#資訊{
        background-position:-72px 0px;
      }
      &#問號{
        background-position:-108px 0px;
      }
      &#愛心{
        background-position:-144px 0px;
      }

    }
    .clearfix()
  }
  .right_main{
    position: relative;
    height: 100%;
  }
  .right_line{
	position:absolute;
	width:4px;
	height:100%;
    left: -3px;
	background-image:url(../images/right_line_2.png);
	top: 0px;
	z-index:4;
  }
}
@media screen and (max-width:1400px) {
  #main{
    width: 95%;
  }
  #right{
    top :auto;
    bottom: 0px;
    height: 400px;
    bottom: 42px;
  }
}
.clearfix(){
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.backgroup_1(){
  background-color:#DEDEDE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#DEDEDE), to(#F3F4F4));
  background: -webkit-linear-gradient(#DEDEDE, #F3F4F4);
  background: -moz-linear-gradient(#DEDEDE, #F3F4F4);
  background: -ms-linear-gradient(#DEDEDE, #F3F4F4);
  background: -o-linear-gradient(#DEDEDE, #F3F4F4);
  background: linear-gradient(#DEDEDE, #F3F4F4);
  -pie-background: linear-gradient(#DEDEDE, #F3F4F4);
}
.backgroup_2(){
  background-color:#DEDEDE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F3F4F4), to(#DEDEDE));
  background: -webkit-linear-gradient(#F3F4F4, #DEDEDE);
  background: -moz-linear-gradient(#F3F4F4, #DEDEDE);
  background: -ms-linear-gradient(#F3F4F4, #DEDEDE);
  background: -o-linear-gradient(#F3F4F4, #DEDEDE);
  background: linear-gradient(#F3F4F4, #DEDEDE);
  -pie-background: linear-gradient(#F3F4F4, #DEDEDE);
}

.left_line{
    position:absolute;
    width:4px;
    height:100%;
    left:0px;
    background-image:url(../images/left_line.png);
    top: 0px;
    z-index:4;
}
.top_line{
  position :absolute;
  height:2px;
  width:130%;
  margin-left: -30%;
  background-image:url(../images/top_line_2.png);
  left: 0px;
  top: 0px;
  z-index:2;
}
.default_a{
  position: relative;
}
.default_a:hover{
  color: #4183c4;
  &::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    border-bottom: 1px solid #4183c4;
    display: inline-block;
    width: 100%;
  } 
}

//覆寫
.ui.button{
	padding: .6em 1.5em;
}
.ui.multiple.dropdown{
	margin-top: 0.1em;
	padding: .22620476em 6.5em .22620476em 2.2em;
}
.dropdown.icon{
	display: none;
}

